

<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewBag.Title - SSC Ticket Management System</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">



    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        body {
            font: 400 15px/1.8 Lato, sans-serif;
            color: #777;
        }

        h3, h4 {
            margin: 10px 0 30px 0;
            font-size: 20px;
            color: #111;
        }

        .container {
            padding: 80px 120px;
        }

        .nav-tabs li a {
            color: #777;
        }

        .navbar {
            font-family: Montserrat, sans-serif;
            margin-bottom: 0;
            /*background-color: #2d2d30 !important;
            background-color: #7124a9 !important;*/
            background-color: #24143f !important;
           /* background-image: url('../../Images/bg-2.jpg');*/
            border: 0;
            font-size: 11px !important;
            letter-spacing: 4px;
            opacity: 0.9;
        }

            .navbar li a, .navbar .navbar-brand {
                color: #d5d5d5 !important;
                background-color: #24143f !important;
            }

        .navbar-nav li a:hover {
            color: #fff !important;
            background-color: #24143f !important;
        }

        .navbar-nav li.active a {
            color: #fff !important;
            background-color: #24143f !important;
        }

        .navbar-default .navbar-toggle {
            border-color: transparent;
            background-color: #24143f !important;
        }

        footer {
            background-color: #2d2d30;
            color: #f5f5f5;
            padding: 32px;
            postion: fixed;
        }

        .footer {
            postion: fixed;
        }

        .navbar {
            height: 100px;
            width: 100%;
        }
    </style>
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="50">

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><img src="https://saudispace.gov.sa/wp-content/themes/ssc/public/images/logo.svg" alt="Saudi Space Commission" class="header__logoImg"></a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right" style="margin-block-start: 1%;">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="@Url.Action("SignOut", "Home")">Sign Out</a></li>

                </ul>
            </div>
        </div>
    </nav>



    <!-- Container -->
    <div class="container text-left">
        <br><br>
        <div class="row">

            @RenderBody()
        </div>
    </div>




    <!-- Footer -->
    <footer>
        <hr />
        <div class="text-right">
            <p>&copy; @DateTime.Now.Year - Rawan Aldaej</p>

        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>